.box{
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.box-logo{
    display: flex;
    justify-content: center;
}

.box-logo img{
    height: 60px;
}

.box-tab{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.tab{
    background-color: var(--blue);
    color: white;
    border: 2px solid var(--blue);
    cursor: pointer;
    padding: 5px 10px;
    transition: 200ms;
}

.tab:hover, .tab-active{
    background-color: white;
    color: var(--blue);
}

.onglet{
    display: flex;
    flex-direction: column;
    gap: 20px;
}