:root{
    --blue: #091F43;
    --red: #D1515A;
    --lightBlue: #607599;
}

body{
    margin: 0;
    background-color: #EBEBEB;
    overflow-x: hidden;
}

#app {
    font-family: 'Montserrat';
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.row{
    max-width: 767px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p-1{
    padding: 10px;
}

.py-5{
    padding-top: 50px;
    padding-bottom: 50px;
}

.m-5{
    margin: 50px auto;
}

.g-3{
    gap: 30px
}